@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	/* overflow: hidden; */
	background-color: #333;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-size: larger;
}

h2 {
	margin: 0;
}

input {
	cursor: pointer;
}

#root {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 75% auto;
}

.canvasContainer {
	display: flex;
	flex: auto;
}

canvas {
	width: 100%;
	height: auto;
}

label {
	margin-right: 0.5rem;
	font-size: x-large;
}

.settings {
	width: 100%;
	display: grid;
	grid-template-areas:
		"buttons"
		"sliders"
		"checkboxes";
	align-items: center;
	background-color: #555;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.buttons {
	display: flex;
	grid-area: buttons;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.buttons > *:not(:first-child) {
	margin-left: 1rem;
}

.sliders {
	grid-area: sliders;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: fit-content;
}

.sliders > div:not(:first-child) {
	margin-top: 1rem;
}

.sliders > div {
	width: 90%;
	display: grid;
	grid-template-columns: 1fr 10fr 1fr;
	grid-template-areas:
		"label slider value"
		"label slider value";
	align-items: center;
	justify-content: center;
}

.sliders > div > label {
	grid-area: label;
	font-size: larger;
	margin-right: 0.5rem;
}

.sliderValue {
	grid-area: value;
	font-size: larger;
	margin-left: 0.5rem;
	text-align: right;
}

input[type="range"] {
	grid-area: slider;
	width: 100%;
}

.checkboxes {
	grid-area: checkboxes;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.checkboxes > div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

input[type="checkbox"] {
	appearance: none;
	-webkit-appearance: none;
	width: 2rem;
	height: 2rem;
	background-color: ivory;
	border-radius: 50%;
	transition: box-shadow 0.3s;
}

input[type="checkbox"]:checked {
	box-shadow: inset 0 0 0 20px tomato;
}

.button {
	height: 3rem;
	width: 3rem;
}

.button:hover {
	cursor: pointer;
}

.button > * {
	height: 100%;
	width: 100%;
}

.button > img {
	transition: transform 0.2s;
}

.button > img:active {
	transform: scale(0.8);
}

a {
	text-decoration: underline;
}

a:visited {
	color: #fefefe;
}

.me {
	justify-content: center;
}

.me > *:first-child {
	margin-right: 1rem;
}
