@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #333;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

input {
	font-size: larger;
}

#root {
	width: 80%;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

canvas {
	width: 100%;
}

.settings {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 1rem 0;
	background-color: #555;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.settings > *:not(:first-child) {
	margin-top: 1rem;
}

.row {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.row > *:not(:first-child) {
	margin-left: 2rem;
}

.row > * {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
}

label {
	margin-right: 0.5rem;
	font-size: larger;
}

.buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.buttons > *:not(:first-child) {
	margin-left: 1rem;
}

.button {
	height: 2rem;
	width: 2rem;
}

.button > * {
	height: 100%;
	width: 100%;
}

.button > img {
	transition: transform 0.2s;
}

.button > img:active {
	transform: scale(0.8);
}
